# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Django
*.log
db.sqlite3
media/
.env
test_output.txt

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build artifacts
dist/
build/
